@import "../../../sassGlobal/colors.scss";
.mmcUI__input {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  box-sizing: border-box;
  border: 1.4px solid rgba(#000d39, 0.2);
  outline: 1.6px solid rgba($blue, 0);

  border-radius: 6px;

  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-size: 1rem;

  transition: 0.3s;

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }

  &-group {
    position: relative;
  }

  &-icon {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 8px;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      & path {
        fill: rgba(#000d39, 0.2);
      }
    }

    &--small {
      & svg {
        height: 16px;
        width: 16px;
      }
    }

    &--medium {
      & svg {
        height: 20px;
        width: 20px;
      }
    }

    &--large {
      & svg {
        height: 24px;
        width: 24px;
      }
    }
  }

  &:focus {
    outline: 1.6px solid $blue;
  }

  //== Sizes ==//
  &--small {
    padding: 2px 0px 2px 8px;
    font-size: 0.8rem;
  }
  &--medium {
    padding: 4px 0px 4px 12px;
    font-size: 1rem;
  }
  &--large {
    padding: 6px 0px 6px 18px;
    font-size: 1.2rem;
  }

  //== Icons ==//
  &--withLeftIcon {
    &--small {
      padding-left: 28px;
    }
    &--medium {
      padding-left: 34px;
    }
    &--large {
      padding-left: 40px;
    }
  }

  //== States ==//
  &--invalid {
    border: 2px solid $red;
    color: $red;
  }
}
